.logo {
  height: 40px;
  width: 120px;
}
.sidebar-container {
  padding: 20px;
  background-color: #f2f2f2;
  min-height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.social-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar-list {
  list-style-type: none;
}
li {
  margin-bottom: 6px;
  font-weight: 600;
}
.sidebar-list-icon {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-link-item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  text-decoration: none;
  outline: none;
  color: #000000;
}
.icon-logo {
  height: 32px;
  width: 32px;
  margin: 4px;
}
.image-icon-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.app-info {
  font-size: 12px;
  width: 100%;
}
.contact-heading {
  font-size: 20px;
}
.list-item-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
